body{
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%) center center;
background-size: cover;
}

.container{
position:relative;
margin: 1.5rem 1rem;
text-align: center;
}

.col-lg-12{
margin: 1.2rem;
}

.flex-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: right;
  align-content: center;
  color:black;
}