body{
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%) center center;
background-size: cover;
}

body.home{background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%) center center;}
body.documentation{background:#EFEAEA;}
body.result{background: black;}

html {
  scroll-behavior: smooth;
}

#i_container{
position:relative;
margin: 1.3rem 1rem;
text-align: center;
}

#res_container{
padding:auto;
margin:auto;
}

#res_jumbotron{
padding:auto;
margin:auto;
text-align: center;
margin-top: 7rem;
}

.col-lg-12{
margin: 1.1rem;
}

.doc_container{
align-items: center;
align-content: center;
margin-top: 3rem;
}

.flex-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: right;
  align-content: center;
  color:black;
}

